h1{
    font-size: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 100px;

}
.navbar img{
    height: auto;
}
.jumbotron{
    background-image: url(../IMAGES/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jumbo{
    display: flex;
    flex-direction: column;
}
h1{
    color: black;
    font-weight: 700;
    margin-left:10%;
    font-size: 30pt;
    margin-top: 5%;
    margin-bottom: 5%;
}
.secondaryNav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    font-size: 14pt;
    font-family: roboto, sans-serif; 
    margin-top: 5%;
}
.secondaryNav a{
    font-weight: 500;
    font-size: 20pt;
    color: black;
  }
    .secondaryNav a:hover {
      font-weight: 700;
      color: black;
    }
    .start-container{
        background-color:#bce5fb;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;

    }
.startImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.step1{
    display: flex;
    justify-content: space-between;
    padding: 1%;

}
.step2{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.step3{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.step4{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.step5{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
#tips{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 80%;
margin-left: 10%;
margin-top: 20px;
background-color: #fcb2bd;
}
#like{
    margin-left: 10%;
    margin-top: 20px;
    background-color:#839a7f;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;

}
.footerLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding: 1%;
    background-color: white;
    margin-top: 20px;

}

.footerLinks a{
        font-weight: 300;
        font-size: 14pt;
        color: black;
      }
      .footerLinks a:hover {
          font-weight: 500;
          color: black;
        }
